name: Build (multi MC versions)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Run Gradle build
        run: ./gradlew -Dorg.gradle.java.home="$JAVA_HOME" clean build --no-daemon

      - name: Upload build artifact
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: statusmod-jar
          path: build/libs/*.jar
